<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey Form</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form action="/survey" method="POST">
    <fieldset>
      <legend>Survey Form</legend>
        <input name="name" type="text" placeholder="Your Name">
        <input name="location" type="text" placeholder="Dojo Location">
        <input name="language" type="text" placeholder="Favorite Language">
        <textarea name="comment" cols="60" rows="10" placeholder="Additional comments"></textarea>
        <input type="submit" value="submit">
    </fieldset>
  </form>
</body>
</html>
