<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <fieldset>
    <legend>Submitted Info</legend>
    <p>Name: <%= user.name %></p>
    <p>Dojo Location: <%= user.location %></p>
    <p>Favorite Language: <%= user.language %></p>
    <p>Comment: <%= user.comment %></p>
  </fieldset>
</body>
</html>
